# Athletes

importing llibraries

In [1]:
import pandas as pd
fileName = 'Athletes.csv'

importing data from athletes.csv

In [129]:
df = pd.read_csv(fileName)

Quantas colunas tem o ficheiro? Qual a primeira? E a última?

In [150]:
print(df.shape[1],'Numero de colunas') # numero de colunas 
colunas = df.columns
print('primeira coluna - ',colunas[0],'|\t|','ultima coluna - ', colunas[-1])

16 Numero de colunas
primeira coluna -  Rank |	| ultima coluna -  Description

Quantas linhas tem o ficheiro?

In [151]:
print(df.shape[0], 'linhas')

100 linhas

Obtenha um ficheiro de dados em formato Excel com apenas as primeiras 10 colunas. Na 
resposta às questões seguintes considere apenas essas 10 colunas.

In [152]:
df1= df.iloc[:,:11]
fileNameOutput = 'outputAthletes.xlsx'
df1.to_excel(fileNameOutput)

Faça com que o indíce seja o nome e mostre informação dos primeiros cinco atletas.

In [162]:
df2 = pd.read_excel(io=fileNameOutput,index_col='Name',parse_dates=['Birth Date'])
print(df2.iloc[:5])

                 Unnamed: 0  Rank     Sport    Total Pay Salary/Winnings  \
Name
Aaron Rodgers             0    55  Football  $22,000,000     $14,500,000
Adam Scott                1    95      Golf  $17,700,000      $8,700,000
Adrian Gonzalez           2    60  Baseball  $21,500,000     $21,100,000
Alex Rodriguez            3    48  Baseball  $22,900,000     $22,600,000
Alfonso Soriano           4    93  Baseball  $18,050,000     $18,000,000

                Endorsements              Nation Gender  Year of birth  \
Name
Aaron Rodgers     $7,500,000       United States   Male           1983
Adam Scott        $9,000,000           Australia   Male           1980
Adrian Gonzalez     $400,000       United States   Male           1982
Alex Rodriguez      $300,000       United States   Male           1975
Alfonso Soriano      $50,000  Dominican Republic   Male           1976

                Birth Date                            Place of Birth
Name
Aaron Rodgers   1983-02-12          Chico, California, United States
Adam Scott      1980-07-16                       Adelaide, Australia
Adrian Gonzalez 1982-08-05      San Diego, California, United States
Alex Rodriguez  1975-07-27                             New York City
Alfonso Soriano 1976-07-01  San Pedro de Macorís, Dominican Republic

C:\Users\moham\AppData\Local\Temp\ipykernel_21336\1244875121.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df2 = pd.read_excel(io=fileNameOutput,index_col='Name',parse_dates=['Birth Date'])

Altere o tipo da coluna "Sport" para o tipo mais adequado. Repita o processo para todas as 
colunas em situação similar.

In [163]:
print(df2.dtypes)
convert = {'Total Pay': float}
df2['Total Pay'] = (df2["Total Pay"]
.str.replace(',' ,'')
.str.replace('$','')
.astype(float)
)
df2['Salary/Winnings'] = (df2["Salary/Winnings"]
.str.replace(',' ,'')
.str.replace('$','')
.astype(float)
)
df2['Endorsements'] = (df2["Endorsements"]
.str.replace(',' ,'')
.str.replace('$','')
.astype(float)
)

print(df2.dtypes)

Unnamed: 0                  int64
Rank                        int64
Sport                      object
Total Pay                  object
Salary/Winnings            object
Endorsements               object
Nation                     object
Gender                     object
Year of birth               int64
Birth Date         datetime64[ns]
Place of Birth             object
dtype: object
Unnamed: 0                  int64
Rank                        int64
Sport                      object
Total Pay                 float64
Salary/Winnings           float64
Endorsements              float64
Nation                     object
Gender                     object
Year of birth               int64
Birth Date         datetime64[ns]
Place of Birth             object
dtype: object

C:\Users\moham\AppData\Local\Temp\ipykernel_21336\227375020.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  .str.replace('$','')
C:\Users\moham\AppData\Local\Temp\ipykernel_21336\227375020.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  .str.replace('$','')
C:\Users\moham\AppData\Local\Temp\ipykernel_21336\227375020.py:15: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  .str.replace('$','')

6. Altere os nomes das colunas para as traduções dos originais para Português.

In [164]:
colunas = ['indice','Classificação','Desporto','Total_pago','Salario','Aprovações','Nacionalidade','Genero','Ano_Nascimento','Data_Nascimento','Local_Nascimento']
df2.columns=colunas
df2 = df2.rename(index={'Name':'Nome'})
print(df2)

                    indice  Classificação    Desporto  Total_pago     Salario  \
Name
Aaron Rodgers            0             55    Football  22000000.0  14500000.0
Adam Scott               1             95        Golf  17700000.0   8700000.0
Adrian Gonzalez          2             60    Baseball  21500000.0  21100000.0
Alex Rodriguez           3             48    Baseball  22900000.0  22600000.0
Alfonso Soriano          4             93    Baseball  18050000.0  18000000.0
...                    ...            ...         ...         ...         ...
Wayne Rooney            95             43      Soccer  23400000.0  18400000.0
Wladimir Klitschko      96             25      Boxing  28000000.0  24000000.0
Zach Randolph           97             84  Basketball  18800000.0  18300000.0
Zlatan Ibrahimović      98             12      Soccer  40400000.0  36400000.0
Cristiano Ronaldo       99              2      Soccer  80000000.0  52000000.0

                    Aprovações       Nacionalidade Genero  Ano_Nascimento  \
Name
Aaron Rodgers        7500000.0       United States   Male            1983
Adam Scott           9000000.0           Australia   Male            1980
Adrian Gonzalez       400000.0       United States   Male            1982
Alex Rodriguez        300000.0       United States   Male            1975
Alfonso Soriano        50000.0  Dominican Republic   Male            1976
...                        ...                 ...    ...             ...
Wayne Rooney         5000000.0             England   Male            1985
Wladimir Klitschko   4000000.0             Ukraine   Male            1976
Zach Randolph         500000.0       United States   Male            1981
Zlatan Ibrahimović   4000000.0              Sweden   Male            1981
Cristiano Ronaldo   28000000.0            Portugal   Male            1985

                   Data_Nascimento  \
Name
Aaron Rodgers           1983-02-12
Adam Scott              1980-07-16
Adrian Gonzalez         1982-08-05
Alex Rodriguez          1975-07-27
Alfonso Soriano         1976-07-01
...                            ...
Wayne Rooney            1985-10-24
Wladimir Klitschko      1976-03-25
Zach Randolph           1981-07-16
Zlatan Ibrahimović      1981-03-10
Cristiano Ronaldo       1985-05-02

                                                Local_Nascimento
Name
Aaron Rodgers                   Chico, California, United States
Adam Scott                                   Adelaide, Australia
Adrian Gonzalez             San Diego, California, United States
Alex Rodriguez                                     New York City
Alfonso Soriano         San Pedro de Macorís, Dominican Republic
...                                                          ...
Wayne Rooney        Croxteth, Liverpool, England, United Kingdom
Wladimir Klitschko                                    Kazakhstan
Zach Randolph                                    Marion, Indiana
Zlatan Ibrahimović                                 Malmö, Sweden
Cristiano Ronaldo                     Funchal, Madeira, Portugal

[100 rows x 11 columns]

7. O ficheiro tem atletas de quantos desportos? Quais são esses desportos? Qual o desporto com 
mais atletas no ficheiro?

In [165]:
print('ha',df2['Desporto'].nunique(),'desportos')
dict = {}
for sport in df2.Desporto:
    if sport not in dict.keys():
        dict[sport] =1
    else:
        dict[sport] +=1
print('desportos -  ',dict)
max_key = max(dict,key=dict.get)
print(max_key,'é o desporto com mais atletas')
#print(df2)

ha 10 desportos
desportos -   {'Football': 17, 'Golf': 5, 'Baseball': 27, 'Basketball': 18, 'Boxing': 4, 'Racing': 6, 'Soccer': 15, 'Tennis': 6, 'Cricket': 1, 'Track': 1}
Baseball é o desporto com mais atletas

8. Ordene por país e mostre apenas o nome, desporto e país para os 7 primeiros. Esses 7 praticam 
que desportos?

In [166]:
df2 =df2.sort_values('Nacionalidade')
df3 = df2.iloc[:7,2:7:4]
print(df3)
list = []
for i in df3.Desporto:
    if i not in list:
        list.append(i)
print( 'Desportos que praticam sao',list)

                Desporto       Nacionalidade
Name
Sergio Agüero     Soccer           Argentina
Lionel Messi      Soccer           Argentina
Adam Scott          Golf           Australia
Neymar            Soccer              Brazil
Li Na             Tennis               China
Radamel Falcao    Soccer            Colombia
Robinson Cano   Baseball  Dominican Republic
Desportos que praticam sao ['Soccer', 'Golf', 'Tennis', 'Baseball']

9. Que tipos de dados têm as colunas relacionadas com rendimentos? Converta-as para inteiros e 
determine os 3 atletas com maiores rendimentos.

In [169]:
# total pago, salario e aprovações 
df2['Total_pago'] = (df2["Total_pago"]
.astype(int)
)
df2['Salario'] = (df2["Salario"]
.astype(int)
)
df2['Aprovações'] = (df2["Aprovações"]
.astype(int)
)
print(df2.dtypes)
df4 = df2.nlargest(3,columns=['Total_pago','Salario','Aprovações'])
print(df4.index)

indice                       int64
Classificação                int64
Desporto                    object
Total_pago                   int32
Salario                      int32
Aprovações                   int32
Nacionalidade               object
Genero                      object
Ano_Nascimento               int64
Data_Nascimento     datetime64[ns]
Local_Nascimento            object
dtype: object
Index(['Floyd Mayweather', 'Cristiano Ronaldo', 'LeBron James'], dtype='object', name='Name')

10. Qual o rendimento médio global? E por género? E por desporto?

In [170]:
rendiemntoMedioGlobal = (df2['Total_pago'].mean() +df2['Salario'].mean() + df2['Aprovações'].mean())/3
print(rendiemntoMedioGlobal)

18342566.666666668

11. Crie uma função que permita obter uma nova DataFrame com apenas os atletas com 
rendimento superior a um valor passado como parâmetro. A função deve devolver as linhas 
ordenadas por ondem decrescente de "Total Pay" e "Salary/Winnings". Utilize-a para obter 
tabelas para rendimentos superiores as 10 milhões, 30 e 70 milhões de dólares. Quantos atletas 
encontrou no último caso?

In [ ]:
def func(df):
    pass