# Athletes

importing llibraries

In [20]:
import pandas as pd
import plotly.express as px
fileName = 'Athletes.csv'

importing data from athletes.csv

In [21]:
df = pd.read_csv(fileName)
df

,Rank,Name,Sport,Total Pay,Salary/Winnings,Endorsements,Nation,Gender,Year of birth,Birth Date,Place of Birth,Height (cm),Wikipedia Page,dbpedia Page,Image,Description
0,55,Aaron Rodgers,Football,"$22,000,000","$14,500,000","$7,500,000",United States,Male,1983,2/12/1983,"Chico, California, United States",188,http://en.wikipedia.org/wiki/Aaron_Rodgers,dbpedia.org/resource/Aaron_Rodgers,http://commons.wikimedia.org/wiki/Special:File...,"Aaron Charles Rodgers (born December 2, 1983) ..."
1,95,Adam Scott,Golf,"$17,700,000","$8,700,000","$9,000,000",Australia,Male,1980,16/07/1980,"Adelaide, Australia",183,https://en.wikipedia.org/wiki/Adam_Scott_(golfer),dbpedia.org/resource/Adam_Scott_(golfer),http://commons.wikimedia.org/wiki/Special:File...,Adam Derek Scott (born 16 July 1980) is an Aus...
2,60,Adrian Gonzalez,Baseball,"$21,500,000","$21,100,000","$400,000",United States,Male,1982,8/05/1982,"San Diego, California, United States",188,http://en.wikipedia.org/wiki/Adrian_Gonzalez,dbpedia.org/resource/Adrian_Gonzalez,http://commons.wikimedia.org/wiki/Special:File...,"Adrian Gonzalez (born May 8, 1982), also known..."
3,48,Alex Rodriguez,Baseball,"$22,900,000","$22,600,000","$300,000",United States,Male,1975,27/07/1975,New York City,190,http://en.wikipedia.org/wiki/Alex_Rodriguez,dbpedia.org/resource/Alex_Rodriguez,http://commons.wikimedia.org/wiki/Special:File...,"Alexander Emmanuel "" Alex "" Rodriguez (born Ju..."
4,93,Alfonso Soriano,Baseball,"$18,050,000","$18,000,000","$50,000",Dominican Republic,Male,1976,7/01/1976,"San Pedro de Macorís, Dominican Republic",185,http://en.wikipedia.org/wiki/Alfonso_Soriano,dbpedia.org/resource/Alfonso_Soriano,http://commons.wikimedia.org/wiki/Special:File...,"Alfonso Guilleard Soriano (born January 7, 197..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,43,Wayne Rooney,Soccer,"$23,400,000","$18,400,000","$5,000,000",England,Male,1985,24/10/1985,"Croxteth, Liverpool, England, United Kingdom",176,http://en.wikipedia.org/wiki/Wayne_Rooney,dbpedia.org/resource/Wayne_Rooney,http://en.wikipedia.org/wiki/Special:FilePath/...,Wayne Mark Rooney /ˈruːni/ (born 24 October 19...
96,25,Wladimir Klitschko,Boxing,"$28,000,000","$24,000,000","$4,000,000",Ukraine,Male,1976,25/03/1976,Kazakhstan,198,http://en.wikipedia.org/wiki/Wladimir_Klitschko,dbpedia.org/resource/Wladimir_Klitschko,http://commons.wikimedia.org/wiki/Special:File...,Wladimir Klitschko ( Ukrainian: Володи́мир Вол...
97,84,Zach Randolph,Basketball,"$18,800,000","$18,300,000","$500,000",United States,Male,1981,16/07/1981,"Marion, Indiana",206,http://en.wikipedia.org/wiki/Zach_Randolph,dbpedia.org/resource/Zach_Randolph,http://commons.wikimedia.org/wiki/Special:File...,"Zachary Randolph (born July 16, 1981) is an Am..."
98,12,Zlatan Ibrahimović,Soccer,"$40,400,000","$36,400,000","$4,000,000",Sweden,Male,1981,3/10/1981,"Malmö, Sweden",195,http://en.wikipedia.org/wiki/Zlatan_Ibrahimovi...,dbpedia.org/resource/Zlatan_Ibrahimovi%C4%87,http://commons.wikimedia.org/wiki/Special:File...,Zlatan Ibrahimović ( Swedish pronunciation: [ˈ...
99,2,Cristiano Ronaldo,Soccer,"$80,000,000","$52,000,000","$28,000,000",Portugal,Male,1985,5/02/1985,"Funchal, Madeira, Portugal",185,http://en.wikipedia.org/wiki/Cristiano_Ronaldo,dbpedia.org/resource/Cristiano_Ronaldo,http://commons.wikimedia.org/wiki/Special:File...,"Cristiano Ronaldo dos Santos Aveiro, OIH (Port..."

Quantas colunas tem o ficheiro? Qual a primeira? E a última?

In [22]:
print(df.shape[1],'Numero de colunas') # numero de colunas 
colunas = df.columns
print('primeira coluna - ',colunas[0],'|\t|','ultima coluna - ', colunas[-1])

16 Numero de colunas
primeira coluna -  Rank |	| ultima coluna -  Description

Quantas linhas tem o ficheiro?

In [23]:
print(df.shape[0], 'linhas')

100 linhas

Obtenha um ficheiro de dados em formato Excel com apenas as primeiras 10 colunas. Na 
resposta às questões seguintes considere apenas essas 10 colunas.

In [28]:
df1= df.iloc[:,:10]
fileNameOutput = 'outputAthletes.xlsx'
df1.to_excel(fileNameOutput)
#df1

Faça com que o indíce seja o nome e mostre informação dos primeiros cinco atletas.

In [47]:
df2 = pd.read_excel(io=fileNameOutput,index_col='Name',parse_dates=['Birth Date'])
print(df2.head(5))
df2.dtypes

                 Unnamed: 0  Rank     Sport    Total Pay Salary/Winnings  \
Name
Aaron Rodgers             0    55  Football  $22,000,000     $14,500,000
Adam Scott                1    95      Golf  $17,700,000      $8,700,000
Adrian Gonzalez           2    60  Baseball  $21,500,000     $21,100,000
Alex Rodriguez            3    48  Baseball  $22,900,000     $22,600,000
Alfonso Soriano           4    93  Baseball  $18,050,000     $18,000,000

                Endorsements              Nation Gender  Year of birth  \
Name
Aaron Rodgers     $7,500,000       United States   Male           1983
Adam Scott        $9,000,000           Australia   Male           1980
Adrian Gonzalez     $400,000       United States   Male           1982
Alex Rodriguez      $300,000       United States   Male           1975
Alfonso Soriano      $50,000  Dominican Republic   Male           1976

                Birth Date
Name
Aaron Rodgers   1983-02-12
Adam Scott      1980-07-16
Adrian Gonzalez 1982-08-05
Alex Rodriguez  1975-07-27
Alfonso Soriano 1976-07-01

C:\Users\moham\AppData\Local\Temp\ipykernel_26316\3431769275.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df2 = pd.read_excel(io=fileNameOutput,index_col='Name',parse_dates=['Birth Date'])

Unnamed: 0                  int64
Rank                        int64
Sport                      object
Total Pay                  object
Salary/Winnings            object
Endorsements               object
Nation                     object
Gender                     object
Year of birth               int64
Birth Date         datetime64[ns]
dtype: object

Altere o tipo da coluna "Sport" para o tipo mais adequado. Repita o processo para todas as 
colunas em situação similar.

In [48]:
print(df2.dtypes)
df2['Sport'] = df2['Sport'].astype('category')
df2['Gender'] = df2['Gender'].astype('category')
df2['Nation'] = df2['Nation'].astype('category')
df2['Total Pay'] = (df2["Total Pay"]
.str.replace(',' ,'',regex=True)
.str.replace('$','',regex=True)
.astype(float)
)
df2['Salary/Winnings'] = (df2["Salary/Winnings"]
.str.replace(',' ,'',regex=True)
.str.replace('$','',regex=True)
.astype(float)
)
df2['Endorsements'] = (df2["Endorsements"]
.str.replace(',' ,'',regex=True)
.str.replace('$','',regex=True)
.astype(float)
)

print(df2.dtypes)

Unnamed: 0                  int64
Rank                        int64
Sport                      object
Total Pay                  object
Salary/Winnings            object
Endorsements               object
Nation                     object
Gender                     object
Year of birth               int64
Birth Date         datetime64[ns]
dtype: object
Unnamed: 0                  int64
Rank                        int64
Sport                    category
Total Pay                 float64
Salary/Winnings           float64
Endorsements              float64
Nation                   category
Gender                   category
Year of birth               int64
Birth Date         datetime64[ns]
dtype: object

6. Altere os nomes das colunas para as traduções dos originais para Português.

In [49]:
colunas = ['indice','Classificação','Desporto','Total_pago','Salario','Aprovações','Nacionalidade','Genero','Ano_Nascimento','Data_Nascimento']
df2.columns=colunas
df2 = df2.rename(index={'Name':'Nome'})
print(df2)

                    indice  Classificação    Desporto  Total_pago     Salario  \
Name
Aaron Rodgers            0             55    Football  22000000.0  14500000.0
Adam Scott               1             95        Golf  17700000.0   8700000.0
Adrian Gonzalez          2             60    Baseball  21500000.0  21100000.0
Alex Rodriguez           3             48    Baseball  22900000.0  22600000.0
Alfonso Soriano          4             93    Baseball  18050000.0  18000000.0
...                    ...            ...         ...         ...         ...
Wayne Rooney            95             43      Soccer  23400000.0  18400000.0
Wladimir Klitschko      96             25      Boxing  28000000.0  24000000.0
Zach Randolph           97             84  Basketball  18800000.0  18300000.0
Zlatan Ibrahimović      98             12      Soccer  40400000.0  36400000.0
Cristiano Ronaldo       99              2      Soccer  80000000.0  52000000.0

                    Aprovações       Nacionalidade Genero  Ano_Nascimento  \
Name
Aaron Rodgers        7500000.0       United States   Male            1983
Adam Scott           9000000.0           Australia   Male            1980
Adrian Gonzalez       400000.0       United States   Male            1982
Alex Rodriguez        300000.0       United States   Male            1975
Alfonso Soriano        50000.0  Dominican Republic   Male            1976
...                        ...                 ...    ...             ...
Wayne Rooney         5000000.0             England   Male            1985
Wladimir Klitschko   4000000.0             Ukraine   Male            1976
Zach Randolph         500000.0       United States   Male            1981
Zlatan Ibrahimović   4000000.0              Sweden   Male            1981
Cristiano Ronaldo   28000000.0            Portugal   Male            1985

                   Data_Nascimento
Name
Aaron Rodgers           1983-02-12
Adam Scott              1980-07-16
Adrian Gonzalez         1982-08-05
Alex Rodriguez          1975-07-27
Alfonso Soriano         1976-07-01
...                            ...
Wayne Rooney            1985-10-24
Wladimir Klitschko      1976-03-25
Zach Randolph           1981-07-16
Zlatan Ibrahimović      1981-03-10
Cristiano Ronaldo       1985-05-02

[100 rows x 10 columns]

7. O ficheiro tem atletas de quantos desportos? Quais são esses desportos? Qual o desporto com 
mais atletas no ficheiro?

In [50]:
print('ha',df2['Desporto'].nunique(),'desportos')
dict = {}
for sport in df2.Desporto:
    if sport not in dict.keys():
        dict[sport] =1
    else:
        dict[sport] +=1
print('desportos -  ',dict)
max_key = max(dict,key=dict.get)
print(max_key,'é o desporto com mais atletas')
#print(df2)

ha 10 desportos
desportos -   {'Football': 17, 'Golf': 5, 'Baseball': 27, 'Basketball': 18, 'Boxing': 4, 'Racing': 6, 'Soccer': 15, 'Tennis': 6, 'Cricket': 1, 'Track': 1}
Baseball é o desporto com mais atletas

8. Ordene por país e mostre apenas o nome, desporto e país para os 7 primeiros. Esses 7 praticam 
que desportos?

In [51]:
df2 =df2.sort_values('Nacionalidade')
df3 = df2.iloc[:7,2:7:4]
print(df3)
list = []
for i in df3.Desporto:
    if i not in list:
        list.append(i)
print( 'Desportos que praticam sao',list)

                Desporto       Nacionalidade
Name
Sergio Agüero     Soccer           Argentina
Lionel Messi      Soccer           Argentina
Adam Scott          Golf           Australia
Neymar            Soccer              Brazil
Li Na             Tennis               China
Radamel Falcao    Soccer            Colombia
Robinson Cano   Baseball  Dominican Republic
Desportos que praticam sao ['Soccer', 'Golf', 'Tennis', 'Baseball']

9. Que tipos de dados têm as colunas relacionadas com rendimentos? Converta-as para inteiros e 
determine os 3 atletas com maiores rendimentos.

In [53]:
# total pago, salario e aprovações 
df2['Total_pago'] = (df2["Total_pago"]
.astype(int)
)
df2['Salario'] = (df2["Salario"]
.astype(int)
)
df2['Aprovações'] = (df2["Aprovações"]
.astype(int)
)
print(df2.dtypes)
df4 = df2.nlargest(3,columns=['Total_pago','Salario','Aprovações'])
print(df4.index)

indice                      int64
Classificação               int64
Desporto                 category
Total_pago                  int32
Salario                     int32
Aprovações                  int32
Nacionalidade            category
Genero                   category
Ano_Nascimento              int64
Data_Nascimento    datetime64[ns]
dtype: object
Index(['Floyd Mayweather', 'Cristiano Ronaldo', 'LeBron James'], dtype='object', name='Name')

10. Qual o rendimento médio global? E por género? E por desporto?

In [55]:
rendiemntoMedioGlobal = (df2['Total_pago'].mean() +df2['Salario'].mean() + df2['Aprovações'].mean())/3

df2Fem = df2[df2['Genero'] =='Female']
rendiemntoMedioGlobalFem =  (df2Fem['Total_pago'].mean() +df2Fem['Salario'].mean() + df2Fem['Aprovações'].mean())/3
df2M = df2[df2['Genero'] =='Male']
rendiemntoMedioGlobalM = (df2M['Total_pago'].mean() +df2M['Salario'].mean() + df2M['Aprovações'].mean())/3
print(f'Rendimento medio global: {rendiemntoMedioGlobal:.2f} $\nhomens: {rendiemntoMedioGlobalM:.2f} $\nMulheres: {rendiemntoMedioGlobalFem:.2f} $')
rendi_por_desp ={}
for sport in df2.Desporto:
    if sport not in rendi_por_desp.keys():
        df_temp = df2[df2.Desporto==sport]
        rendi_por_desp[sport] = (df_temp['Total_pago'].mean() +df_temp['Salario'].mean() + df_temp['Aprovações'].mean())/3
print('Rendimento medio global por desporto')
for i,(sport,rendi) in enumerate(rendi_por_desp.items()):
    print(f'{i} {sport} : {float(rendi):.2f}')

Rendimento medio global: 18342566.67 $
homens: 18428762.89 $
Mulheres: 15555555.56 $
Rendimento medio global por desporto
0 Soccer : 21000000.00
1 Golf : 23680000.00
2 Tennis : 22644444.44
3 Baseball : 14462962.96
4 Racing : 16677777.78
5 Basketball : 19514814.81
6 Cricket : 20000000.00
7 Track : 15466666.67
8 Boxing : 32633333.33
9 Football : 15126862.75

11. Crie uma função que permita obter uma nova DataFrame com apenas os atletas com 
rendimento superior a um valor passado como parâmetro. A função deve devolver as linhas 
ordenadas por ondem decrescente de "Total Pay" e "Salary/Winnings". Utilize-a para obter 
tabelas para rendimentos superiores as 10 milhões, 30 e 70 milhões de dólares. Quantos atletas 
encontrou no último caso?

In [58]:
def func(df,supVal):
    df_temp = df[(df['Salario'] ) +(df['Total_pago']) + df['Aprovações']>=supVal] 
    return df_temp.sort_values(['Total_pago','Salario'],ascending=[False,False])
print(func(df2,70000000))
print(func(df2,40000000))
print(func(df2,10000000))

                    indice  Classificação    Desporto  Total_pago    Salario  \
Name
Floyd Mayweather        34              1      Boxing   105000000  105000000
Cristiano Ronaldo       99              2      Soccer    80000000   52000000
LeBron James            57              3  Basketball    72300000   19300000
Lionel Messi            60              4      Soccer    64700000   41700000
Kobe Bryant             55              5  Basketball    61500000   30500000
Tiger Woods             28              6        Golf    61200000    6200000
Roger Federer           81              7      Tennis    56200000    4200000
Phil Mickelson          74              8        Golf    53200000    5200000
Rafael Nadal            77              9      Tennis    44500000   14500000
Matt Ryan               66             10    Football    43800000   42000000
Manny Pacquiao          30             11      Boxing    41800000   41000000
Zlatan Ibrahimović      98             12      Soccer    40400000   36400000
Derrick Rose            22             13  Basketball    36600000   17600000
Gareth Bale             36             14      Soccer    36400000   25400000
Radamel Falcao          76             15      Soccer    35400000   32400000

                    Aprovações  Nacionalidade Genero  Ano_Nascimento  \
Name
Floyd Mayweather             0  United States   Male            1977
Cristiano Ronaldo     28000000       Portugal   Male            1985
LeBron James          53000000  United States   Male            1984
Lionel Messi          23000000      Argentina   Male            1987
Kobe Bryant           31000000  United States   Male            1978
Tiger Woods           55000000  United States   Male            1975
Roger Federer         52000000    Switzerland   Male            1981
Phil Mickelson        48000000  United States   Male            1970
Rafael Nadal          30000000          Spain   Male            1986
Matt Ryan              1800000  United States   Male            1985
Manny Pacquiao          800000    Philippines   Male            1978
Zlatan Ibrahimović     4000000         Sweden   Male            1981
Derrick Rose          19000000  United States   Male            1988
Gareth Bale           11000000          Wales   Male            1989
Radamel Falcao         3000000       Colombia   Male            1986

                   Data_Nascimento
Name
Floyd Mayweather        1977-02-24
Cristiano Ronaldo       1985-05-02
LeBron James            1984-12-30
Lionel Messi            1987-06-24
Kobe Bryant             1978-08-23
Tiger Woods             1975-12-30
Roger Federer           1981-08-08
Phil Mickelson          1970-06-16
Rafael Nadal            1986-03-06
Matt Ryan               1985-05-17
Manny Pacquiao          1978-12-17
Zlatan Ibrahimović      1981-03-10
Derrick Rose            1988-04-10
Gareth Bale             1989-07-16
Radamel Falcao          1986-10-02
                   indice  Classificação    Desporto  Total_pago    Salario  \
Name
Floyd Mayweather       34              1      Boxing   105000000  105000000
Cristiano Ronaldo      99              2      Soccer    80000000   52000000
LeBron James           57              3  Basketball    72300000   19300000
Lionel Messi           60              4      Soccer    64700000   41700000
Kobe Bryant            55              5  Basketball    61500000   30500000
...                   ...            ...         ...         ...        ...
Barry Zito              6             75    Baseball    20400000   20300000
Matt Cain              67             75    Baseball    20400000   20000000
Felix Hernandez        31             77    Baseball    20300000   20100000
Albert Pujols          48             77    Baseball    20300000   18300000
Deron Williams         21             79  Basketball    20000000   18500000

                   Aprovações       Nacionalidade Genero  Ano_Nascimento  \
Name
Floyd Mayweather            0       United States   Male            1977
Cristiano Ronaldo    28000000            Portugal   Male            1985
LeBron James         53000000       United States   Male            1984
Lionel Messi         23000000           Argentina   Male            1987
Kobe Bryant          31000000       United States   Male            1978
...                       ...                 ...    ...             ...
Barry Zito             100000       United States   Male            1978
Matt Cain              400000       United States   Male            1984
Felix Hernandez        200000           Venezuela   Male            1986
Albert Pujols         2000000  Dominican Republic   Male            1980
Deron Williams        1500000       United States   Male            1984

                  Data_Nascimento
Name
Floyd Mayweather       1977-02-24
Cristiano Ronaldo      1985-05-02
LeBron James           1984-12-30
Lionel Messi           1987-06-24
Kobe Bryant            1978-08-23
...                           ...
Barry Zito             1978-05-13
Matt Cain              1984-01-10
Felix Hernandez        1986-08-04
Albert Pujols          1980-01-16
Deron Williams         1984-06-26

[79 rows x 10 columns]
                   indice  Classificação    Desporto  Total_pago    Salario  \
Name
Floyd Mayweather       34              1      Boxing   105000000  105000000
Cristiano Ronaldo      99              2      Soccer    80000000   52000000
LeBron James           57              3  Basketball    72300000   19300000
Lionel Messi           60              4      Soccer    64700000   41700000
Kobe Bryant            55              5  Basketball    61500000   30500000
...                   ...            ...         ...         ...        ...
Terrell Suggs          91             96    Football    17600000   17400000
Jayson Werth           42             97    Baseball    17500000   17300000
Brandon Marshall        9             97    Football    17500000   16800000
Matt Holliday          68             99    Baseball    17400000   17200000
Luis Suárez            61            100      Soccer    17300000   13300000

                   Aprovações  Nacionalidade Genero  Ano_Nascimento  \
Name
Floyd Mayweather            0  United States   Male            1977
Cristiano Ronaldo    28000000       Portugal   Male            1985
LeBron James         53000000  United States   Male            1984
Lionel Messi         23000000      Argentina   Male            1987
Kobe Bryant          31000000  United States   Male            1978
...                       ...            ...    ...             ...
Terrell Suggs          200000  United States   Male            1982
Jayson Werth           200000  United States   Male            1979
Brandon Marshall       700000  United States   Male            1984
Matt Holliday          200000  United States   Male            1980
Luis Suárez           4000000        Uruguay   Male            1987

                  Data_Nascimento
Name
Floyd Mayweather       1977-02-24
Cristiano Ronaldo      1985-05-02
LeBron James           1984-12-30
Lionel Messi           1987-06-24
Kobe Bryant            1978-08-23
...                           ...
Terrell Suggs          1982-11-10
Jayson Werth           1979-05-20
Brandon Marshall       1984-03-23
Matt Holliday          1980-01-15
Luis Suárez            1987-01-24

[100 rows x 10 columns]

Crie uma nova questão que possa ser respondida com os dados no ficheiro e obtenha a resposta.

rendimento medio global por nacionalidade

In [59]:
rendi_por_nat ={} 
for nat in df2.Nacionalidade:
    if nat not in rendi_por_nat.keys():
        df_temp = df2[df2.Nacionalidade==nat]
        rendi_por_nat[nat] = (df_temp['Total_pago'].mean() +df_temp['Salario'].mean() + df_temp['Aprovações'].mean())/3
print('Rendimento medio global por nacionalidade')
for i,(nat,rendi) in enumerate(rendi_por_nat.items()):
    print(f'{i} {nat} : {float(rendi):.2f}')

Rendimento medio global por nacionalidade
0 Argentina : 29333333.33
1 Australia : 11800000.00
2 Brazil : 22400000.00
3 China : 15733333.33
4 Colombia : 23600000.00
5 Dominican Republic : 13275000.00
6 England : 16466666.67
7 France : 12200000.00
8 Germany : 13488888.89
9 India : 20000000.00
10 Ivory Coast : 14466666.67
11 Jamaica : 15466666.67
12 Mexico : 14000000.00
13 Netherlands : 13000000.00
14 Northern Ireland : 16200000.00
15 Philippines : 27866666.67
16 Portugal : 53333333.33
17 Russia : 16266666.67
18 Serbia : 22066666.67
19 Spain : 19766666.67
20 Sweden : 20533333.33
21 Switzerland : 37466666.67
22 Ukraine : 18666666.67
23 United States : 17949277.78
24 Uruguay : 11533333.33
25 Venezuela : 15066666.67
26 Wales : 24266666.67