#  - Proveitos de Turismo em Portugal

Considerando a informação relativa aos proveitos de alojamentos turísticos em Portugal de 2009 a 
2020 disponibilizada pela PORDATA (Folha “Quadro” do ficheiro pordata1.xls4
), responda às 
seguintes questões usando as funcionalidades da biblioteca Pandas:

In [1]:
import pandas as pd
import numpy as np
filename = 'pordata1.xls'

1. Leia os dados do ficheiro para um objeto DataFrame com o nome pordata, descartando a 
primeira linha e fazendo com que o indíce seja a Região.

In [10]:
pordata = pd.read_excel(io=filename,sheet_name='Quadro',index_col='Região', skiprows=[0])
pordata

,Âmbito Geográfico,TOTAL_2009,TOTAL_2010,TOTAL_2011,TOTAL_2012,TOTAL_2013,TOTAL_2014,TOTAL_2015,TOTAL_2016,TOTAL_2017,...,HOTEIS_2011,HOTEIS_2012,HOTEIS_2013,HOTEIS_2014,HOTEIS_2015,HOTEIS_2016,HOTEIS_2017,HOTEIS_2018,HOTEIS_2019,HOTEIS_2020
Região,,,,,,,,,,,,,,,,,,,,,
Portugal,NUTS 2013,1763954,1807536,1906006,1856450,1954569,2285896,2627741,3103755,3681207,...,1355749,1326956,1413949,1608917,1848945,2190726,2606951,2792152,2976234,936046
Continente,NUTS I,1458939,1531894,1606363,1564439,1637632,1940146,2240348,2643565,3170774,...,1161808,1133990,1198653,1374919,1583140,1869197,2243431,2417840,2601650,820906
Norte,NUTS II,207591,218295,223803,212894,223778,271117,329973,403945,489312,...,179434,179091,191548,218092,262914,323747,388862,443200,497346,173223
Alto Minho,NUTS III,0,0,0,0,14370,16878,21263,25328,32230,...,0,0,0,11448,14071,17120,21371,26262,28574,16625
Arcos de Valdevez,Município,867,737,799,778,795,856,1266,2665,2937,...,316,330,0,0,0,1797,1731,2290,2472,1760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Santa Cruz,Município,36449,31988,32627,30747,33735,37049,39990,47321,51984,...,22565,21052,23132,24585,26682,30742,34543,34082,30692,11212
Santana,Município,1789,723,1296,1944,0,2448,2768,3391,3824,...,0,0,1913,0,0,0,0,0,0,0
São Vicente,Município,2971,2901,3420,3510,3498,3428,3582,4260,4790,...,0,0,0,0,0,0,0,0,0,0
Ilha de Porto Santo,NUTS III,12670,11629,13854,13023,14385,17089,20953,26006,27711,...,12751,12185,13427,16117,17337,21280,22843,23140,21146,6551
Porto Santo,Município,12670,11629,13854,13023,14385,17089,20953,26006,27711,...,12751,12185,13427,16117,17337,21280,22843,23140,21146,6551

Determine o número de colunas, número de linhas e memória ocupada pela DataFrame sem 
otimizações (em kB).

In [11]:
# numero de linhas e colunas
shape = pordata.shape
print(shape)
memoriaSemOti = pordata.memory_usage(deep=True).sum()
print(memoriaSemOti/1000,'Kbytes')

(353, 25)
124.814 Kbytes

Crie uma nova DataFrame com apenas a informação relativa às NUTS II e total de proveitos 
para os vários anos. Guarde-a num ficheiro CSV.

In [12]:
pordata2 = pordata[pordata['Âmbito Geográfico'] =='NUTS II'].loc[:,'TOTAL_2009':'TOTAL_2020']
pordata2.to_csv('outPordata2.csv')
pordata2

,TOTAL_2009,TOTAL_2010,TOTAL_2011,TOTAL_2012,TOTAL_2013,TOTAL_2014,TOTAL_2015,TOTAL_2016,TOTAL_2017,TOTAL_2018,TOTAL_2019,TOTAL_2020
Região,,,,,,,,,,,,
Norte,207591,218295,223803,212894,223778,271117,329973,403945,489312,560283,642935,231355
Centro,179091,187689,187233,167298,161280,189026,222524,256514,316308,332790,355414,164200
Área Metropolitana de Lisboa,0,0,0,0,587268,699432,813055,931173,1151787,1267349,1372192,315729
Alentejo,57588,59457,64082,57197,55318,78645,94730,110895,135134,149831,174956,112842
Algarve,521848,541143,569204,585731,609988,701927,780067,941039,1078233,1144530,1225746,461563
Região Autónoma dos Açores,49163,48905,46852,41985,44672,46773,56491,73140,90763,105019,117115,30046
Região Autónoma da Madeira,255852,226738,252791,250026,272265,298977,330901,387050,419670,426751,407457,129947

Qual o valor total e valor médio do total de proveitos em 2009 e 2020 nas regiões NUTS II?

In [13]:
# valor total 2009 e 2020
total_2009 = pordata2['TOTAL_2009'].sum()
print(total_2009)
total_2020 = pordata2['TOTAL_2020'].sum()
print(total_2020)
# media 2009 e 2020
mean_2009 = pordata2['TOTAL_2009'].mean()
print(mean_2009)
mean_2020 = pordata2['TOTAL_2020'].mean()
print(mean_2020)

1271133
1445682
181590.42857142858
206526.0

Obtenha as estatísticas principais para as regiões NUTS II em 2020 para o total e apenas 
considerando os hotéis.

In [22]:
pordata3 = pd.DataFrame(pordata[pordata['Âmbito Geográfico'] =='NUTS II'].loc[:,'HOTEIS_2020'])
# maximo e minimo e suas regioes respectivas
min_value =pordata3.min().to_list()[0]
min_region = pordata3[pordata3['HOTEIS_2020'] == min_value].index[0]

max_value =pordata3.max().to_list()[0]
max_region = pordata3[pordata3['HOTEIS_2020'] == max_value].index[0]
print(pordata3,'\n maximo',max_value,'\t em',max_region,'\n minimo',min_value,'\tem',min_region)
# media, mediana 
mean_hoteis_2020 = pordata3.mean()[0]
median_heoteis_2020 = pordata3.median()[0]
# desvio padrao de
std_hoteis_2020 = pordata3.std()[0]
print(f'media: {mean_hoteis_2020:.2f} $, mediana: {median_heoteis_2020:.2f} $ e desvio padrao: {std_hoteis_2020:.2f} $ NUTS II em 2020 hoteis'
      )

                              HOTEIS_2020
Região
Norte                              173223
Centro                             111347
Área Metropolitana de Lisboa       246309
Alentejo                            44036
Algarve                            245991
Região Autónoma dos Açores          23171
Região Autónoma da Madeira          91970
 maximo 246309 	 em Área Metropolitana de Lisboa
 minimo 23171 	em Região Autónoma dos Açores
media: 133721.00 $, mediana: 111347.00 $ e desvio padrao: 90691.29 $ NUTS II em 2020 hoteis

Obtenha o valor médio, máximo, mínimo e soma para os municípios de Aveiro, Porto, 
Albufeira e Funchal para os proveitos dos hoteis entre 2009 e 2020. Apresente os resultados 
ordenados por ordem crescente do valor médio, uma cidade por linha.

In [24]:
pordata4 = pordata.loc[['Aveiro','Porto','Albufeira','Funchal'],'HOTEIS_2009':]
map = {}
for city in pordata4.index:
    if city not in map:
        map[city] = [pordata4.loc[city].mean(),pordata4.loc[city].max(),pordata4.loc[city].min(),pordata4.loc[city].sum()]

df1 = pd.DataFrame(data=map,index=['Media','MAximo','Minimo','Soma']).transpose()

pordata5 = pordata4.combine_first(df1)

print(pordata5)

           HOTEIS_2009  HOTEIS_2010  HOTEIS_2011  HOTEIS_2012  HOTEIS_2013  \
Região
Aveiro            8477         8666         8105         7414         7716
Porto            64984        71409        72566        75097        82807
Albufeira        91306        91810        97637       105462       100615
Funchal         105183        94485       105858       110344       123572

           HOTEIS_2014  HOTEIS_2015  HOTEIS_2016  HOTEIS_2017  HOTEIS_2018  \
Região
Aveiro            8536         9709         9801        11300        12693
Porto            95683       119899       149667       184153       208668
Albufeira       126998       131375       179691       213185       213604
Funchal         135150       150410       173239       190807       197859

           HOTEIS_2019  HOTEIS_2020    MAximo          Media   Minimo  \
Região
Aveiro           13454            0   13454.0    8822.583333      0.0
Porto           235732        51852  235732.0  117709.750000  51852.0
Albufeira       233541        83065  233541.0  139024.083333  83065.0
Funchal         193561        62616  197859.0  136923.666667  62616.0

                Soma
Região
Aveiro      105871.0
Porto      1412517.0
Albufeira  1668289.0
Funchal    1643084.0

(opcional) Utilize a conversão de tipos de dados para diminuir a memória ocupada. Quantos 
kBytes conseguiu poupar?

In [39]:
# verificar os tipos 
pordata6 = pordata
d = dict.fromkeys(pordata.select_dtypes(np.int64).columns, np.int32)
pordata6 = pordata6.astype(d)
pordata6['Âmbito Geográfico'] =  pordata6['Âmbito Geográfico'].astype('category')
print('--------------------')
print(f'tipo de cados antes\n {pordata.dtypes}\ntipo de dados agora :\n{pordata6.dtypes}\nmemoria ocupada antes : {pordata.memory_usage().sum()/1000} Kb\nmemora ocupada agora: {pordata6.memory_usage().sum()/1000} Kb',
      f'Uma redução de {(1-pordata6.memory_usage().sum()/pordata.memory_usage().sum())*100:.2f} %')
pordata # verificar se perdeu informações, o que nao é o caso pois 32 bis suporta -2bi ate 2bi aprox

--------------------
tipo de cados antes
 Âmbito Geográfico    object
TOTAL_2009            int64
TOTAL_2010            int64
TOTAL_2011            int64
TOTAL_2012            int64
TOTAL_2013            int64
TOTAL_2014            int64
TOTAL_2015            int64
TOTAL_2016            int64
TOTAL_2017            int64
TOTAL_2018            int64
TOTAL_2019            int64
TOTAL_2020            int64
HOTEIS_2009           int64
HOTEIS_2010           int64
HOTEIS_2011           int64
HOTEIS_2012           int64
HOTEIS_2013           int64
HOTEIS_2014           int64
HOTEIS_2015           int64
HOTEIS_2016           int64
HOTEIS_2017           int64
HOTEIS_2018           int64
HOTEIS_2019           int64
HOTEIS_2020           int64
dtype: object
tipo de dados agora :
Âmbito Geográfico    category
TOTAL_2009              int32
TOTAL_2010              int32
TOTAL_2011              int32
TOTAL_2012              int32
TOTAL_2013              int32
TOTAL_2014              int32
TOTAL_2015              int32
TOTAL_2016              int32
TOTAL_2017              int32
TOTAL_2018              int32
TOTAL_2019              int32
TOTAL_2020              int32
HOTEIS_2009             int32
HOTEIS_2010             int32
HOTEIS_2011             int32
HOTEIS_2012             int32
HOTEIS_2013             int32
HOTEIS_2014             int32
HOTEIS_2015             int32
HOTEIS_2016             int32
HOTEIS_2017             int32
HOTEIS_2018             int32
HOTEIS_2019             int32
HOTEIS_2020             int32
dtype: object
memoria ocupada antes : 81.72 Kb
memora ocupada agora: 45.573 Kb Uma redução de 44.23 %

,Âmbito Geográfico,TOTAL_2009,TOTAL_2010,TOTAL_2011,TOTAL_2012,TOTAL_2013,TOTAL_2014,TOTAL_2015,TOTAL_2016,TOTAL_2017,...,HOTEIS_2011,HOTEIS_2012,HOTEIS_2013,HOTEIS_2014,HOTEIS_2015,HOTEIS_2016,HOTEIS_2017,HOTEIS_2018,HOTEIS_2019,HOTEIS_2020
Região,,,,,,,,,,,,,,,,,,,,,
Portugal,NUTS 2013,1763954,1807536,1906006,1856450,1954569,2285896,2627741,3103755,3681207,...,1355749,1326956,1413949,1608917,1848945,2190726,2606951,2792152,2976234,936046
Continente,NUTS I,1458939,1531894,1606363,1564439,1637632,1940146,2240348,2643565,3170774,...,1161808,1133990,1198653,1374919,1583140,1869197,2243431,2417840,2601650,820906
Norte,NUTS II,207591,218295,223803,212894,223778,271117,329973,403945,489312,...,179434,179091,191548,218092,262914,323747,388862,443200,497346,173223
Alto Minho,NUTS III,0,0,0,0,14370,16878,21263,25328,32230,...,0,0,0,11448,14071,17120,21371,26262,28574,16625
Arcos de Valdevez,Município,867,737,799,778,795,856,1266,2665,2937,...,316,330,0,0,0,1797,1731,2290,2472,1760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Santa Cruz,Município,36449,31988,32627,30747,33735,37049,39990,47321,51984,...,22565,21052,23132,24585,26682,30742,34543,34082,30692,11212
Santana,Município,1789,723,1296,1944,0,2448,2768,3391,3824,...,0,0,1913,0,0,0,0,0,0,0
São Vicente,Município,2971,2901,3420,3510,3498,3428,3582,4260,4790,...,0,0,0,0,0,0,0,0,0,0
Ilha de Porto Santo,NUTS III,12670,11629,13854,13023,14385,17089,20953,26006,27711,...,12751,12185,13427,16117,17337,21280,22843,23140,21146,6551
Porto Santo,Município,12670,11629,13854,13023,14385,17089,20953,26006,27711,...,12751,12185,13427,16117,17337,21280,22843,23140,21146,6551